@font-face {
    font-family: 'Cooper Hewitt';
    src: url('./fonts/CooperHewitt-Light.woff') format('woff'),
    url('./fonts/CooperHewitt-Thin.woff') format('woff');
}
:root{
 --color-primario : #AA964E;
 --color-secundario: #CFC39B;
 --color-pastel : #F3BB99;
 --color-blanco : #FFFFFF;
 --color-marron : #4C4027;
 --color-beige : #A28E77;
}

body{
    padding: 0;
    margin: 0;
}

/* Estilos para el header */
header {
    box-shadow: 0 1rem 1rem rgba(0,0,0,0.2);
    backdrop-filter: blur(1rem);
    align-items: center;
    padding: 0.8rem 3rem;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1;
    transition: .5s;
}
.contenedorLogo img{
    width: 4.5rem;
}
nav{
    margin-right: 10%;
}
nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    display: inline-block;
    margin-right: 20px;
}

nav ul li a {
    text-decoration: none;
    color: var(--color-blanco);
    letter-spacing: .2rem;
    text-decoration: none;
    font-size: 1.6rem;
    font-family: 'Cooper Hewitt';
    font-weight: 800;
}
 nav ul li a.active {
    color: var(--color-pastel);
    padding: 0.5rem;
    transition: all .5s;
    border-bottom: 1px solid var(--color-pastel);
    text-decoration: var(--color-primario);
  
}

/*seccion de inicio */
.homeSection {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
.home{
    width: 40%;
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    padding-left: 6rem;
    margin-top: 6rem;
}

.container_text-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    letter-spacing: .2rem;
    text-align: start;
}
.home_text-1 {
    font-size: 1.5rem;
    margin-left: 0.4rem;
    font-weight: bold;
    color: var(--color-blanco);
    font-family: 'Cooper Hewitt';
}
.home_text-2 {
    font-size: 3rem;
    font-weight: bold;
    color: var(--color-blanco);
    font-family: 'PT Sans';
}
.home_text-3 {
    margin: 0 0 2rem 0;
    font-size: 1.8rem;
    width: 35rem;
    letter-spacing: .2rem;
    text-align: start;
    color: var(--color-blanco);
}
.container_parrafo-info p {
    font-family: 'Cooper Hewitt';
    color: var(--color-secundario);
    font-size: 1.4rem;
    letter-spacing: 1px;
    line-height: 2rem;
}
.button-home {
    display: inline-block;
    background-color: var(--color-blanco);
    border-radius: 3rem;
    padding: 0.7rem 4rem 0.6rem 4rem;
    color: var(--color-primario);
    font-family: 'Cooper Hewitt';
    font-weight: bold;
    font-size: 1.6rem;
    text-transform: uppercase;
    letter-spacing: .1rem;
    margin: 2rem 0 2rem 1rem;
    border: none;
    cursor: pointer;
    transition: .4s;
}
.banner-home {
    width: 100%;
    min-height: 200vh;
    position: absolute;
    z-index: -1;
    left: 0;
    top: 0;
    object-fit: cover;
    object-position: center;
}
.container_parrafo-info p {
    font-family: 'Cooper Hewitt';
    color: var(--color-blanco);
    font-size: 1.4rem;
    letter-spacing: 1px;
    line-height: 2rem;
    text-align: start;
}
/* Estilos para las secciones */
/* section {
    padding: 50px;
} */

h2 {
    color: #333;
}

/* Estilos para la sección de membresía */
.membership-details {
    margin-top: 20px;
}

/* Seccion  productos */
.productos{
    padding: 50px;
    background-color: var(--color-beige);
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 4rem;
}
.card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
  
  .card {
    width: 300px;
    margin: 20px;
    padding: 20px;
    background-color: #f2f2f2;
    border-radius: 5px;
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    text-align: center;
  }
  
  .card img {
    width: 100%;
    height: auto;
    border-radius: 5px;
  }
  
  .card h3 {
    margin-top: 10px;
  }
  
  .card p {
    color: #888;
  }
  
/*section membresia */

h1{
    margin-top: 6rem;
    font-size: 3rem;
    font-family: 'Cooper Hewitt';
    color: var(--color-blanco);
}
.membresía {

    padding: 50px;
    margin: 0 auto; /* Centra el contenedor horizontalmente */
    background-color: var(--color-marron);
    display: flex;
    flex-direction: column;
    align-items: center;
}
.membresía h3{
    font-family: 'Cooper Hewitt';
    color: var(--color-pastel);
    text-align: center;
    font-size: 1.5rem;
    letter-spacing: .1rem;
    font-weight: bold;
    margin-bottom: 2rem;
    text-align: start;
}
.contenedor-membresía-details{
     display: flex;
     

}
.contenedor-membresía-details p{
    color: var(--color-blanco);
    font-family: 'Cooper Hewitt';
    font-size: 1rem;
    letter-spacing: .03rem;
    white-space: pre-line;
    text-align: justify;
    line-height: 2.2rem;
}
.contenedor-testimonios-beneficios{
    display: flex;
    flex-direction: column;
    padding: 0 80px;
    width: 50%;

}
.contenedor-testimonios-beneficios h4{
    color: var(--color-blanco);
    font-family: 'Cooper Hewitt';
    letter-spacing: .1rem;
    font-size: 1.4rem;
    margin-top: 1rem;
}
.container-exclusive-products{
    display: flex;
    justify-content: space-evenly;
}
.membership-details {
    margin-bottom: 30px;
    width: 50%;
    padding: 0 80px;
    height: 50%;
}
.membership-details ul li {
    color: var(--color-blanco);
    font-family: 'Cooper Hewitt';
    font-size: 1rem;
    letter-spacing: .03rem;
    white-space: pre-line;
    text-align: justify;
    line-height: 2.2rem;
}
/* .testimonials {
    margin-bottom: 30px;
} */

.testimonial {
    display: flex;
    align-items: center;
}

.testimonial img {
    width: 50px;
    height: 50px;
    border-radius: 50%;
    margin-right: 10px;
}

.client-name {
    font-style: italic;
    font-size: 14px;
}

.exclusive-products {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
}

.product {
    text-align: center;
}

.product img {
    width: 150px;
    height: 150px;
    object-fit: cover;
    border-radius: 50%;
    margin-bottom: 10px;
}

.price {
    font-weight: bold;
}
/* MEMBRESIA /*

/*FORMULARIO*/
.membership-form{
    padding: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
    height: auto;
    background-color: var(--color-primario);
    padding-bottom: 4rem;
}
.contenedor-formulario{
    display: flex;
    justify-content: space-evenly;

    
}
.container--contacto {
    max-width: 500px;
    background-color: var(--color-secundario);
    border-radius: 24px;
    padding: 1rem 3rem;
    position: relative;
    margin: 20px;
   
    
}
.container_text--contacto {
    width: 100%;
}

.container_text--contacto p {
    font-size: 1.6rem;
    font-family: 'Cooper Hewitt';
    color: var(--color-blanco);
    margin-bottom: 3rem;
    letter-spacing: 1px;
    line-height: 2.3rem;
}


.form input {
    font-family: 'Cooper Hewitt';
    background: transparent;
    border: 1px solid var(--color-primario);
    width: 100%;
    border-radius: 1rem;
    color: var(--color-blanco);
    font-size: 1.6rem;
    outline: none;
    margin-bottom: 1rem;
    letter-spacing: 1px;
}
.btn_form--contacto {
    display: flex;
    justify-content: center;
}
.validate{

    background: #5C715E;
    height: 48px;
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    box-sizing: border-box;
    font-weight: 700;
    border-radius: 8px;
    cursor: pointer;
    border: none;
    background-color: #A5BC34;
    color: #fdfffd;
    cursor: pointer;
    transition: 1s all;
}
.validate:hover{
        background: #5C715E;
        color: var(--black);
        font-weight: bold;
        transform: scale(1.1);
        box-shadow: 0px 9px 15px -1px rgba(0,0,0,0.20);
        transition: all .4s ease;
}
/*QUIENES SOMOS*/
.quienes-somos{
    padding: 50px;
    /* height: 100vh; */
    display: flex;
    justify-content: center;
    background-color: var(--color-beige);
    align-items: center;
    flex-direction: column;
}
.container {
    /* max-width: 950px; Ajusta el ancho máximo del contenedor según tus preferencias */
    max-width: 100em;
    margin: 0 auto;
    padding: 40px 20px;
  }
  
  .content {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
  }
  
  .description {
    flex: 1;
    padding-right: 20px; /* Ajusta el espaciado derecho entre la descripción y la foto según tus preferencias */
  }
  
  .photo {
    flex: 1;
    text-align: center;
  }
  
  .photo img {
    width: 100%; /* Ajusta el tamaño de la imagen según tus preferencias */
    max-width: 400px; /* Ajusta el ancho máximo de la imagen según tus preferencias */
    border-radius: 10px; /* Aplica bordes redondeados si deseas */
  }
  
  .values {
    margin-top: 40px; /* Ajusta el espaciado superior entre los valores y el resto del contenido según tus preferencias */
  }
  
  .values h2 {
    margin-bottom: 10px;
  }
  
  .values ul {
    list-style-type: disc;
    padding-left: 20px;
  }
  
